<div id="list">
  <h2>List</h2>
  <ul>
    <li ng-repeat="tea in $ctrl.teas" ng-click="$ctrl.chosenTea = tea">{{tea.name}} <button ng-click="teadetails=true;">View</button> <button ng-click="$ctrl.editTea(tea);">Edit</button>  <button ng-click="$ctrl.deleteTea($ctrl.chosenTea.name)">X</button></li>
  </ul>
  <button ng-click="addedittea=true" class="pure-button">Add Tea</button>
</div>

<tea-add-edit ng-show="addedittea"></tea-add-edit>

<!-- TODO: hide by default, show with ng-click  ng-show="teadetails" -->
<tea-details tea="$ctrl.chosenTea"></tea-details>
