<div id="teadetails">
  <div >
    <h1>{{tea.name}}</h1>
    <div>
      <h2>Type</h2>
      <p>{{tea.type}}</p>
    </div>

    <div>
      <h2>Ingredients</h2>
      <ul>
        <li>{{tea.ingredients}}</li>
      </ul>
    </div>

    <div>
      <h2>Style</h2>
      <p>{{tea.style}}</p>
    </div>

    <div>
      <h2>Servings</h2>
      <p><span>{{tea.servings}}</span> cups</p>
    </div>

    <div>
      <h2>Brand</h2>
      <p>{{tea.brand}}</p>
    </div>
    <div>
      <h2>Distributor</h2>
      <p>{{tea.distributor}}</p>
    </div>

    <div>
      <h2>Source</h2>
      <ul>
        <li>{{tea.source}}</li>
      </ul>
    </div>

    <div>
      <h2>Rating</h2>
      <p><span>{{tea.rating}}</span> stars</p>
    </div>

    <h2>Favorite: {{tea.favorite}}</h2>

    <div>
      <h2>Notes</h2>
      <div>
        <p>{{tea.notes}}</p>
      </div>
    </div>

    <button id="tedit" name="tedit" class="btn btn-primary">Edit Tea</button>
    <button id="tedit" name="tedit" class="btn btn-primary">Make a Cuppa</button>
  </div>
</div>
