<div id="teadetails">
  <div >
    <h1>{{$ctrl.tea.name}}</h1>
    <div>
      <h2>Type</h2>
      <p>{{$ctrl.tea.type}}</p>
    </div>

    <div>
      <h2>Ingredients</h2>
      <ul>
        <li ng-repeat="ingredient in $ctrl.tea.ingredients">{{ingredient}}</li>
      </ul>
    </div>

    <div>
      <h2>Style</h2>
      <p>{{$ctrl.tea.style}}</p>
    </div>

    <div>
      <h2>Servings</h2>
      <p><span>{{$ctrl.tea.servings}}</span> cups</p>
    </div>

    <div>
      <h2>Brand</h2>
      <p>{{$ctrl.tea.brand}}</p>
    </div>
    <div>
      <h2>Distributor</h2>
      <p>{{$ctrl.tea.distributor}}</p>
    </div>

    <div>
      <h2>Source</h2>
      <ul>
        <li ng-repeat="source in $ctrl.tea.source">{{source}}</li>
      </ul>
    </div>

    <div>
      <h2>Rating</h2>
      <p><span>{{$ctrl.tea.rating}}</span> stars</p>
    </div>

    <div ng-show="$ctrl.tea.favorite">
      <h2>A favorite!</h2>
    </div>

    <div>
      <h2>Notes</h2>
      <div>
        <p>{{$ctrl.tea.notes}}</p>
      </div>
    </div>

    <!-- <button id="tedit" name="tedit" class="btn btn-primary">Edit Tea</button>
    <button id="tedit" name="tedit" class="btn btn-primary">Make a Cuppa</button> -->
    <button type="button" name="button" ng-click="$ctrl.shownForm = 'tealist'">Back To List</button>
  </div>
</div>
