<div class="row">
	<div class="sm-col-12">
		<h1>About Cuppa</h1>
		<p>Jennifer has a lot of tea. It takes up an entire small cabinet in her kitchen. With a couple overflow boxes next to the microwave. And yeah, there's a stash at work, too. And a couple bags she carries on her person most of the time.</p>
		<p>Sigh. Let's just say that sometimes there's so much tea she forgets which ones she has, then they get old and that makes her sad.</p>
		<p>There was little choice but to make this app or risk having wonderful teas go stale. Unacceptable.</p> 
		<p>Besides, she needed a cool project to learn Angular anyway.</p>
	</div>
</div>