<div class="row">
	<div class="col-sm-12">
		<h1>{{teadetails.tname}}</h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">

		<div class="form-group">
			<h2>Type</h2>
			<div>
				{{teadetails.ttype}}
			</div>
		</div>

		<div class="form-group">
			<h2>Ingredients</h2>
			<div>
				{{teadetails.ingredients}}
			</div>
		</div>


		<div class="form-group">
			<h2>Style</h2>
			<div>
				{{teadetails.tstyle}}
			</div>
		</div>

		<div class="form-group">
			<h2>Servings</h2>
			<div>
				{{teadetails.tservings}}
			</div>
		</div>

		<div class="form-group">
			<h2>Brand</h2>
			<div>
				{{teadetails.tbrand}}
			</div>
		</div>

		<div class="form-group">
			<h2>Distributor</h2>
			<div>
				{{teadetails.tdistributor}}
			</div>
		</div>

		<div class="form-group">
			<h2>Source</h2>
			<div>
				{{teadetails.tsource}}
			</div>
		</div>

		<div class="form-group">
			<h2>Rating</h2>
			<div>
				{{teadetails.trating}}
			</div>
		</div>

		<div class="form-group">
			<h4>{{teadetails.tfavorite}}</h4>
		</div>

		<div class="form-group">
			<h2>Notes</h2>
			<div class="col-md-4">                     
				<div>
					{{teadetails.tnotes}}
				</div>
			</div>
		</div>

		<div class="form-group">
			<button id="tedit" name="tedit" class="btn btn-primary">Edit Tea</button>
		</div>

	</div>
</div>