<div class="row">
	<div class="col-sm-12">
		<div >
		<a href="" role="button" class="btn btn-default btn-block text-left">Pu-erh <span class="glyphicon glyphicon-play pull-right"></span></a>
		<a href="" role="button" class="btn btn-default btn-block text-left">Lapsang Souchang <span class="glyphicon glyphicon-play pull-right"></span></a>
		<a href="" role="button" class="btn btn-default btn-block text-left">PG Tips <span class="glyphicon glyphicon-play pull-right"></span></a>
		<a href="" role="button" class="btn btn-default btn-block text-left">Warrior <span class="glyphicon glyphicon-play pull-right"></span></a>
		</div>
	</div>
</div>	
