<div class="row">
	<div class="col-sm-12">
		<h1>Add New Tea</h1>
	</div>
</div>
<div class="row">
<div class="col-sm-12">
<form class="form-horizontal">
	<fieldset>
		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="tname">Name</label>  
			<div class="col-md-4">
				<input id="textinput" name="tname" placeholder="Pu-eruh" class="form-control input-md" type="text">
				<!-- <span class="help-block">help</span>   -->
			</div>
		</div>

		<!-- Select Basic -->
		<div class="form-group">
			<label class="col-md-4 control-label" for="ttype">Type</label>
			<div class="col-md-4">
				<select id="selectbasic" name="ttype" class="form-control">
					<option value="white">White</option>
					<option value="green">Green</option>
					<option value="black">Black</option>
					<option value="herbal">Herbal</option>
					<option value="blend">Blend</option>
				</select>
			</div>
		</div>


		<!-- Select Multiple -->
		<div class="form-group">
			<label class="col-md-4 control-label" for="tingredients">Ingredients</label>
			<div class="col-md-4">
				<select id="tingredients" name="tingredients" class="form-control" multiple="multiple">
					<option value="tea">Tea</option>
					<option value="chamomile">Chamomile</option>
					<option value="new">Add New</option>
				</select>
			</div>
		</div>


		<!-- Select Basic -->
		<div class="form-group">
			<label class="col-md-4 control-label" for="tstyle">Style</label>
			<div class="col-md-4">
				<select id="selectbasic" name="tstyle" class="form-control">
					<option value="bag">Bag</option>
					<option value="loose">Loose</option>
					<option value="brick">Brick</option>
					<option value="new">Add New</option>
				</select>
			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="tservings">Servings</label>  
			<div class="col-md-4">
				<input id="textinput" name="tservings" placeholder="20" class="form-control input-md" type="text">
				<!-- 	 -->
			</div>
		</div>


		<!-- Select Basic -->
		<div class="form-group">
			<label class="col-md-4 control-label" for="tbrand">Brand</label>
			<div class="col-md-4">
				<select id="selectbasic" name="tbrand" class="form-control">
					<option value="twinnings">Twinnings</option>
					<option value="mcnultys">McNulty's</option>
					<option value="celestial">Celestial Seasonings</option>
					<option value="pgtips">PG Tips</option>
					<option value="adagio">Adagio</option>
					<option value="new">Add New</option>
				</select>
			</div>
		</div>

		<!-- Select Basic -->
		<div class="form-group">
			<label class="col-md-4 control-label" for="tdistributor">Distributor</label>
			<div class="col-md-4">
				<select id="selectbasic" name="tdistributor" class="form-control">
					<option value="fairway">Fairway</option>
					<option value="mcnultys">McNulty's</option>
					<option value="adagio">Adagio</option>
					<option value="new">Add New</option>
				</select>
			</div>
		</div>


		<!-- Select Basic -->
		<div class="form-group">
			<label class="col-md-4 control-label" for="tsource">Source</label>
			<div class="col-md-4">
				<select id="selectbasic" name="tsource" class="form-control">
					<option value="india">India</option>
					<option value="china">China</option>
					<option value="africa">Africa</option>
					<option value="multiple">Multiple</option>
				</select>
			</div>
		</div>


		<!-- Multiple Radios (inline) -->
		<div class="form-group">
			<label class="col-md-4 control-label" for="trating">Rating</label>
			<div class="col-md-4"> 
				<label class="radio-inline" for="radios-0">
					<input name="trating" id="radios-0" value="1" type="radio">
					1
				</label> 
				<label class="radio-inline" for="radios-1">
					<input name="trating" id="radios-1" value="2" type="radio">
					2
				</label> 
				<label class="radio-inline" for="radios-2">
					<input name="trating" id="radios-2" value="3" checked="checked" type="radio">
					3
				</label> 
				<label class="radio-inline" for="radios-3">
					<input name="trating" id="radios-3" value="4" type="radio">
					4
				</label>
				<label class="radio-inline" for="radios-4">
					<input name="trating" id="radios-4" value="5" type="radio">
					5
				</label>
			</div>
		</div>

		<!-- Multiple Checkboxes -->
		<div class="form-group">
			<label class="col-md-4 control-label" for="checkboxes">Favorite</label>
			<div class="col-md-4">
				<div class="checkbox">
					<label for="checkboxes-0">
						<input name="checkboxes" id="checkboxes-0" value="1" type="checkbox">Favorite
					</label>
				</div>
			</div>
		</div>

		<!-- Textarea -->
		<div class="form-group">
			<label class="col-md-4 control-label" for="tnotes">Notes</label>
			<div class="col-md-4">                     
				<textarea class="form-control" id="tnotes" name="tnotes">Notes about this tea</textarea>
			</div>
		</div>

		<!-- Button -->
		<div class="form-group">
			<label class="col-md-4 control-label" for="tsave"></label>
			<div class="col-md-4">
				<button id="tsave" name="tsave" class="btn btn-primary">Save New Tea</button>
			</div>
		</div>

	</fieldset>
</form>
</div>
</div>